PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/siiims_db?schema=public"
JWT_SECRET="siiims_super_secret_jwt_key_2026_ethiopia_osta"
NODE_ENV="development"

# SMTP Email Configuration (For sending real welcome emails)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="your-email@gmail.com"

